node_modules
.pnpm-store
.next
out
dist
build

.git
.github
.vscode
.idea

.env
.env.local
.env.test
.env.*.local
!.env.example
!.env.test.example

tests
*.md
LICENSE

prisma/generated
public/uploads

*.log
*.tsbuildinfo
next-env.d.ts
.DS_Store
